/* Universal Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main CSS */
body {
  background: #B99C79;
}

.section {
  min-height: 400px;
  max-width: 100%;
  color: rgb(95, 75, 54);
  background: #FFF;
}

/* Hide elements on initial load (Will be displayed by GSAP) */
.header-nav__content,
.hero-title,
.hero-text,
.hero {
  visibility: hidden;
}

/* For Resolution > 1080p */
.wrapper {
  max-width: 2000px;
  margin: 0 auto;
  background: #FFF;
}

/* Header CSS */
.header {
  display: flex;
  position: relative;
  width: 100%;
}

/* Primary Nav */
.header-nav {
  position: absolute;
  top: 6%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5%;
}

.logo-text {
  color: #311900;
  margin: 0;
  text-transform: uppercase;
  font-size: .9rem;
  letter-spacing: .2em;
}

.coffee-ranged__figure {
  background: #aaa;
}

.logo-text__cafe-icon {
  font-size: 1.5em;
}

.nav-container {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.header-nav__ul {
  width: 70%;
  color: #FFF;
  font-size: .9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__link {
  color: inherit;
  text-transform: uppercase;
}

.header-nav__link:hover {
  color: #311900;
}

.header-nav__basket-btn {
  color: #C6AD8F;
  background: #FFF;
  border: 0 none #FFF;
  width: 55px;
  height: 35px;
  border-radius: 2em;
  cursor: pointer;
  border: 2px solid transparent;
}

.header-nav__basket-icon {
  font-size: 2em;
}

.header-nav__basket-btn:hover {
  border: 2px solid white;
  background-color: #C6AD8F;
  color: #FFF;
}

.header-nav__basket-btn:active {
  color: #311900;
}

/* Header Left and Right */
.header__left,
.header__right {
  width: 50vw;
  max-width: 100%;
  height: 80vh;
  max-height: 600px;
  display: flex;
  align-items: flex-end;
  padding: 0 5% 15vh;
}

.hero-title {
  font-size: 3.5rem;
}

.hero-title__span {
  display: block;
}

/* Header Right */
.header__right {
  background-color: #C6AD8F;
  color: #FFF;
}

.hero-text {
  max-width: 34vw;
  font-size: 1.15rem;
  word-spacing: 0;
  position: relative;
}

.hero-text::after {
  display: block;
  content: "";
  background: #FFF;
  width: 115px;
  height: 2px;
  position: absolute;
  top: -25px;
  left: 0;
}

/* Hero Background */
.hero {
  max-width: 100%;
}

/* Experience Section */
.experience {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.experience__text {
  width: 60%;
  max-width: 830px;
  font-size: 1.2em;
  margin-left: 8%;
}

/* Coffee Ranged Section*/
.coffee-ranged {
  display: grid;
  grid-template-columns: 45% 1fr;
  min-height: 500px;
}

.ranges-container {
  background: #f5f0ea;
  height: 400px;
}

.ranges {
  height: 100%;
  display: grid;
  justify-self: center;
  align-content: center;
  margin: 0 15%;
}

.ranges__title {
  margin-bottom: 35px;
}

.ranges__text {
  font-size: .9rem;
}

.coffee-ranged__figure {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 400px;
}

.coffee-ranged__img-container {
  position: relative;
}

.coffee-ranged__img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.coffee-machine-img {
  object-position: 0% 70%;
}

.btn-shop {
  position: absolute;
  bottom: -73px;
  left: 0;
  height: 80px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;

  color: inherit;
  border: 1px solid #a9a9a9;
  border-top: none;
}

.btn-shop:first-of-type {
  border-right: none;
}

/* Awards Section */
.awards {
  height: 500px;
  display: grid;
  grid-template-columns: 46% minmax(0, 1fr);
  align-items: center;
}

.awards__container {
  grid-column-start: 2;
  width: 65%;
}

.awards__title {
  font-size: 1.25em;
  line-height: 1.4;
  font-weight: 200;
  color: #5F4B36;
}

.awards__text {
  margin: 2.8em 0;
  width: 85%;
  font-size: .9em;
}

.awards__link {
  color: #d29c5d;
  display: list-item;
  font-size: .8em;
  font-weight: 600;
  text-transform: uppercase;
}

.awards__link:hover {
  color: #a0733f;
}

/* Carousel Section */
.carousel {
  height: 900px;
  display: grid;
  grid-template-columns: 12.5% minmax(0, 1fr);
  justify-items: center;
  align-items: start;
  min-height: 600px;
}

.carousels-container {
  grid-column-start: 2;
  position: relative;
  background: teal;
  width: 1390px;
}

.carousel__at {
  display: flex;
  background: teal;
  margin: 5em 0;
  height: 624px;
  max-width: 100%;
  position: absolute;
}

.carousel__1 {
  z-index: 1;
}

.carousel__figure {
  background: #a9a9a9;
  width: 720px;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  width: 100%;
  max-width: 1015px;
  padding: 3.24em 5.3em;
  background: #f5f0ea;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description__carousel-number {
  font-size: .8em;
  opacity: .5;
  text-transform: uppercase;
}

.description__title {
  line-height: 1.3;
  color: #39220a;
  margin: .75em 0;
}

.description__title__span {
  display: block;
}

.description__text {
  font-size: 1.2em;
  max-width: 500px;
  margin-bottom: 50px;
  color: #6a6056;
}

/* Footer */
.footer {
  font-family: 'Roboto', sans-serif;
  background-color: #311900;
  color: #B9B9B9;
  min-height: 275px;
  position: relative;
  display: grid;
  align-items: center;
  overflow: hidden;
}

.footer__info {
  margin: 0 7.2em;
  padding-bottom: 1.8em;
  display: grid;
  grid-template-columns: .83fr 1fr;
}

.footer__info__title {
  font-size: .9em;
  margin-top: .7em;
  margin-bottom: 2em;
  color: #FFF;
}

.footer__info__text {
  font-size: .75em;
  color: #80726a;
}

/* Newsletter */
.newsletter__signup {
  display: flex;
}

.newsletter__email {
  background: none;
  border: none;
  width: 150px;
  border-bottom: 1px solid #A9A9A9;
  position: relative;
}

.newsletter__email::placeholder {
  color: #B9B9B9;
}

.newsletter__email:focus {
  outline: none;
  color: #FFF;
}

.newsletter__email::placeholder {
  color: #FFF;
}

.newsletter__submit {
  font-size: 1.5em;
  background-color: transparent;
  color: #A9A9A9;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #A9A9A9;
}

/* Cafe info */
.cafe-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__social-link,
.footer__misc-link{
  color: #80726a;
}

.footer__social-link:hover,
.footer__misc-link:hover{
  color: #FFF;
}

.footer__info__text__span,
.footer__social-link {
  display: block;
}

.footer__misc-info {
  position: absolute;
  top: 90%;
  left: 49.5%;
  transform: translate(-49.5%, -90%);
  text-align: center;
  font-size: .8em;
}