/* Media Queries */
@media only screen and (max-width: 1350px) {
  .carousel__buttons {
    left: 45%;
  }
}

@media only screen and (max-width: 1150px) {

  /* Header left title */
  .hero-title {
    font-size: 2.9em;
  }

  .hero-text {
    font-size: 1em;
  }
  
  .carousel__figure {
    max-width: 35%;
  }

  .carousel__buttons {
    left: 47%;
  }
}

@media only screen and (max-width: 950px) {

  /* Navbar */
  .logo-text,
  .header-nav__ul {
    font-size: .7em;
  }

  .header-nav__basket-btn {
    width: 45px;
    height: 30px;
  }

  .header-nav__basket-icon {
    font-size: 1.5em;
  }

  /* Header */
  .header__left,
  .header__right {
    height: 55vh;
  }
  
  .hero-title {
    font-size: 1.9em;
  }

  .hero-text {
    font-size: .8em;
  }

  /* Experience Section */
  .experience__text {
    font-size: 1em;
    width: 600px;
  }

  /* Coffee Ranges Section */
  .coffee-ranged {
    display: flex;
    flex-direction: column; 
    height: 980px;
  }

  .ranges-container {
    height: 350px;
  }

  .coffee-ranged__img {
    height: 550px;
  }

  /* Awards Section */
  .awards {
    height: 500px;
    grid-template-columns: 35% minmax(0, 1fr)
  }

  .awards__container {
    width: 80%;
  }

  .awards__title {
    font-size: 1.05em;
  }

  .awards__text {
    font-size: .8em;
  }

  /* Carousel Section */
  .carousel {
    display: block;
    height: 600px;
  }

  .carousel__figure {
    overflow: hidden;
  }

  .description__text {
    font-size: 1em;
  }

  .carousel__buttons {
    transform: scale(1);
  }

  /* Footer Section */
  .footer {
    height: 400px;
  }

  .footer__info {
    margin: 0 2em;
    grid-template-columns: .6fr 1fr;
  }
}

@media only screen and (max-width: 690px) {
  .header-nav {
    padding: 0 5% 0 5%;
  }

  .logo-text,
  .header-nav__ul {
    font-size: .6em;
  }

  .header-nav__ul {
    width: 80%;
  }

  .header-nav__basket-btn {
    width: 40px;
    height: 20px;
    line-height: 50%;
  }

  .header-nav__basket-icon {
    font-size: 1.25em;
  }

  .header__left,
  .header__right {
    height: 45vh;
    padding: 0 5% 10vh;
  }

  /* Experience Section */
  .experience__text {
    font-size: .9em;
    width: 400px;
    margin-left: 20%;
  }

  /* Ranges Section */
  .ranges__title {
    font-size: 1.3em;
  }

  .ranges-container {
    height: 500px;
  }

  .coffee-ranged__figure {
    height: 300px;
  }

  .coffee-ranged__img {
    height: 350px;
  }

  /* Carousel Section */
  .carousel__title {
    font-size: 1.3em;
  }

  .carousel__text {
    font-size: .8em;
  }

  .carousel__buttons {
    transform: scale(0.8);
  }

  /* Footer */
  .footer__info__title {
    font-size: .8em;
  }

  .footer__info__text {
    font-size: .6em;
  }

  .newsletter__email {
    width: 82px;
  }

  .newsletter__submit {
    font-size: 1em;
  }

  .newsletter__email::placeholder,
  .footer__misc-info {
    font-size: .7em;
  }
}

@media only screen and (max-width: 500px) {

  /* Navbar */
  .logo-text {
    font-size: .5em;
  }

  .logo-text__cafe-icon {
    font-size: 1.4em;
  }

  .nav-container {
    font-size: .7em;
    width: 47%;
  }

  .header-nav__ul {
    width: 100%;
  }

  .header-nav__basket-btn {
    display: none;
  }

  /* Header */
  .header__left,
  .header__right {
    height: 180px;
    padding: 0 3% 5vh;
  }

  .header__left {
    padding-bottom: 7vh;
  }

  .hero-title {
    font-size: .95em;
  }

  .hero-text {
    font-size: .55em;
    min-width: 100%;
  }

  /* Experience Section */
  .experience {
    min-height: 250px;
    align-items: center;
  }

  .experience__text {
    font-size: .7em;
    margin: 0 20px;
  }

  .hero-text::after {
    top: -13px;
  }

  /* Ranges Section */
  .coffee-ranged {
    height: 610px;
  }

  .ranges-container {
    height: 300px;
    width: 100%;
  }

  .ranges {
    margin: 0 20px;
  }

  .ranges__title {
    font-size: 1.15em;
    margin-bottom: 25px;
  }

  .ranges__text {
    font-size: .75em;
  }

  .coffee-ranged__figure {
    height: 200px;
  }

  .coffee-ranged__img {
    height: 100%;
  }

  .coffee-art-img {
    object-position: 45% 90%;
  }

  .coffee-machine-img {
    object-position: 30% 50%;
  }

  .btn-shop {
    font-size: .8em;
    padding: 0 10px;
  }

  /* Awards Section */
  .awards {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  .awards__title {
    font-size: .95em;
    width: 100%;
  }

  .awards__text {
    font-size: .7em;
    width: 100%;
  }

  /* Carousel Section */
  .carousel {
    min-height: 300px;
    height: 300px;
  }

  .carousel__figure {
    display: none;
  }

  .description {
    padding: 20px;
    height: 300px;
    overflow: hidden;
  }

  .carousel__at {
    font-size: .7em;
  }

  .description__title {
    font-size: .95em;
  }

  .description__text {
    font-size: .75em;
  }

  .carousel__buttons {
    top: 300px;
    left: 3%;
    transform: scale(0.65);
  }

  /* Footer */
  .footer__info {
    margin: 0 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .footer__info__title {
    font-size: .7em;
    margin: 10px 0;
  }

  .footer__info__text {
    font-size: .6em;
  }

  .newsletter {
    display: grid;
    align-self: center;
    margin-top: 10px;
  }

  .newsletter__signup {
    width: auto;
  }

  .cafe-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-items: center;
    margin: 20px 0;
  }

  .contact,
  .locations {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 360px) {
  /* Footer */
  .footer__misc-info {
    width: 75%;
  }
}